*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, sans-serif;
}

body{
    margin: 0;
    
}
.container{
    background-image: url('Images/task2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list{
    width: 100%;
    max-width: 540px;
    background: floralwhite;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.todo-list h2{
    color: black;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #87CEEB;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
}

.row button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #3F51B5;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;
}

.row button:hover{
    opacity: 0.8;
}

.task-list h2{
    color: black;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

#tasks .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #87CEEB;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}



.task .text{
    flex: 1;
    display: block;
    font-size: 15px;
}
.task input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
}



  

.task button{
    border: none;
    outline: none;
    padding: 5px 10px; 
    margin-left: 5px;
    background: #3F51B5;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}

.task button:hover{
    opacity: 0.8;
}